html, body {
    margin: 0;
    padding: 0;
}
div { 
    width: 300px;
    margin: 100px auto;
    text-align: center;
    font-weight: 50px;
    font-family: sans-serif;
}

p {
    font-size: medium;
    font-weight: bold;
    font-size: small;
    margin: 10px auto;
    
}
h1 {
    font-weight: 30px;
    font-family: sans-serif;
    margin: 40px auto;
}
.cta {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    margin: 10px auto;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.black {
    background-color: black;
}
span {
    text-decoration: underline;
}
.login{
    margin: 20px auto
}


    

